#identitymgmt{
    padding: 10px;
    background: #ffffff;
}
#mainText{
    background: #ffffff;
}
#mainIdentityView{
     padding: 10px;
     background: #ffffff;
 }
.selection-handle{
    padding: 10px;
    background: white;
}
.container{
    width: 100%;
    background: white;
}
.classic-body{
    padding-bottom: 35px;
}
#mainBodyTable{
    height: 100%;
    overflow: visible;
    background-color: white;
}
#mainBodyHeaderTitle{
    font-family: Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #037DA1;
    padding: 12px 0 10px 5px;
    margin: 0;
    float: left;
    text-indent: 5px;
}
#mainBodyContentId{
    height: 100%;
    background-color: white;
}
#mainBodyDiv{
    background-color: white;
}
.mainBodyDiv{
    background-color: white;
}
.mainBodyDivContent{
    margin: 0 10px;
    padding: 0 0 15px 0;
}
.paginationRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.searchRow{
    width: 200px;
    padding: 10px;
    border-width:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;         /* Opera/IE 8+ */
}
input,select{
    padding: 5px;
    margin: 5px;
    height: 26px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#searchResults{
margin-left: 10px;
}

.cardGridList md-grid-list{
    margin:8px;
}
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.cardGridList md-grid-title{
    transition: all 400ms ease-out 50ms;
}
.buttColor{
    color: black;
}
textarea{
    overflow: scroll;
    max-width: 100%;
    max-height: 100%;
}

.refreshResults th , .refreshResults td {  
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
.refreshResults  tr:nth-child(odd) {
background-color: #f1f1f1;
}
.refreshResults  tr:nth-child(even) {
background-color: #ffffff;
}
#searchRowTableSearchButton button{
    height: 26px;
}