<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- (c) Copyright 2016 SailPoint Technologies, Inc., All Rights Reserved. --><!DOCTYPE html PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:sp="http://sailpoint.com/ui"
      xmlns:t="http://myfaces.apache.org/tomahawk" xmlns:ui="http://java.sun.com/jsf/facelets">

<head>
    <link rel="stylesheet" type="text/css"
          href="#{base.requestContextPath}/plugin/identitySearchPlugin/ui/css/main.css"/>
    <link rel="stylesheet" type="text/css"
          href="#{base.requestContextPath}/plugin/identitySearchPlugin/ui/css/angular-material.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="#{base.requestContextPath}/plugin/identitySearchPlugin/ui/css/font-awesome.min.css"/>
</head>

<body>

<ui:composition>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/SailPointBundleLibrary.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/app.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/identityManagementCtrl.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/identityEditCtrl.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/identityViewCtrl.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/identityRfshCtrl.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/singleActAggrtCtrl.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular.min.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-route.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-route.min.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-material.min.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/bootstrap.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-ui.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/xml.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/codemirror.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/editMgmtService.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/SailPointClassicBundle.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-animate.min.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-aria.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/ng-table.min.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular-steps.min.js"/>
    <script src="#{plugins.requestContextPath}/plugin/identitySearchPlugin/ui/js/lib/angular.js"/>

    <div id="identitymgmt" ng-app="identitySearchPlugin">
        <div ng-view="ng-view">

        </div>

    </div>

</ui:composition>


</body>
</html>
