<!DOCTYPE html>
<div id="editView">
    <div class="classic-body" ng-controller="identityViewCtrl" ng-init="getIdentityXml()">
        <table id="mainEditTable" style="width:100%;cellpadding:0;cellspacing:0">
           <tbody>
            <tr valign="top">
                <td style="width:5px">&nbsp;</td>
                <td td style="width:20px">&nbsp;</td>
                <td class="mainEditBodyHeader">
                    <div id="mainEditBodyHeaderTitle">
                        <h3>Viewing Identity:{{passedName}}</h3>
                    </div>
                </td>
                <td style="width:20px">&nbsp;</td>
                <td style="width:5px">&nbsp;</td>
            </tr>
           </tbody>
        </table>
        <div>
            <label for="xmlView"></label><textarea id="xmlView" ui-codemirror ng-model="dom"></textarea>
        </div>
    </div>
</div>
</html>