<!DOCTYPE html>
<div id="editView">
    <div class="classic-body" ng-controller="identityEditCtrl" ng-init="getAttrbName()">
        <table id="mainEditTable" style="width:100%;cellpadding:0;cellspacing:0">
           <tbody>
            <tr valign="top">
                <td style="width:5px">&nbsp;</td>
                <td td style="width:20px">&nbsp;</td>
                <td class="mainEditBodyHeader">
                    <div id="mainEditBodyHeaderTitle">
                        <h3>Editing Identity:{{passedName}}</h3>
                    </div>
                </td>
                <td style="width:20px">&nbsp;</td>
                <td style="width:5px">&nbsp;</td>
            </tr>
           </tbody>
        </table>
    </div>
</div>
</html>