<!DOCTYPE html>
<div id="editView">
    <div class="classic-body" ng-controller="identityRfshCtrl" ng-init="getAttrbName()">
        <table id="mainEditTable" style="width:100%;cellpadding:0;cellspacing:0">
            <tbody>
            <tr valign="top">
                <td style="width:5px">&nbsp;</td>
                <td style="width:20px">&nbsp;</td>
                <td class="mainEditBodyHeader">
                    <div id="mainEditBodyHeaderTitle">
                        <h3>Refreshing Identity:{{passedName}}</h3>
                    </div>
                </td>
                <td style="width:20px">&nbsp;</td>
                <td style="width:5px">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <div class="spinner" ng-show="loading"></div>
        <div ng-hide="loading">
            <table style="padding-top: 20px">
                <tbody>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Refresh identity attributes</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="promoteAttributes" ng-init="promoteAttributes=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Refresh Identity Entitlements for all links</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="refreshIdentityEntitlements" ng-init="refreshIdentityEntitlements=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Refresh manager status	</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="refreshManagerStatus" ng-init="refreshManagerStatus=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Refresh assigned, detected roles and promote additional entitlements</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="correlateEntitlements" ng-init="correlateEntitlements=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Provision assignments</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="provision" ng-init="provision=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Synchronize attributes</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="synchronizeAttributes" ng-init="synchronizeAttributes=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="odd"> Process events</td>
                    <td class="odd" style="width:40px">&nbsp;</td>
                    <td class="odd">
                        <label>
                            <input type="checkbox" ng-model="processTriggers" ng-init="processTriggers=false">
                        </label>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <div class="buttonRow">
                <button id="refreshButton" name="refreshButton" ng-click="generateJson()">Refresh</button>
            </div>
        </div>
        <div ng-hide="loading" style="align-content: center">
            <table class="refreshResults">
                <tr ng-repeat="(key, value) in refreshResp">
                  <td> {{key}} </td> <td> {{ value }} </td>
                </tr>
              </table>
        </div>
    </div>
</div>
</html>