<!DOCTYPE html>
<div id="mainView">
    <div class="classic-body">
        <table id="mainBodyTable" style="width:100%;cellpadding:0;cellspacing:0">
            <tbody>
                <tr valign="top">
                    <td style="width:5px">&nbsp;</td>
                    <td td style="width:20px">&nbsp;</td>
                    <td class="mainBodyHeaderDiv">
                        <div id="mainBodyHeaderTitle">
                            <h1>Advanced Edit Management Tool</h1>
                        </div>
                        <div id="mainText" style="padding-top: 25px; right: 15px; position: absolute;">
                            <h5><strong style="color:red"> In Progress</strong></h5>
                        </div>
                    </td>
                    <td td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                <tr valign="top">
                    <td style="width:5px">&nbsp;</td>
                    <td td style="width:20px">&nbsp;</td>
                    <td id="mainBodyContentId" colspan="1">
                        <div id="mainBodyDiv" class="mainBodyDiv">
                            <div id="mainBodyDivContent" class="mainBodyDivContent">
                                <div ng-controller="identityManagementCtrl">
                                    <div>
                                        <div class="searchRow">
                                            <table class="searchRowTable width100">
                                                <tr>
                                                    <th id="searchRowTableSearchObj">
                                                        <select ng-model="searchObj" id="searchObj"
                                                            ng-init="searchObj=searchObjects[0]"
                                                            ng-options="searchObj for searchObj in searchObjects"></select>
                                                    </th>
                                                    <th id="searchRowTableSearchInput">
                                                        <input type="text" name="searchInput" ng-model="searchInput">
                                                    </th>
                                                    <th id="searchRowTableSearchButton">
                                                        <button type="submit" class="btn btn-search"
                                                            ng-click="searchData(searchObj,searchInput);setItemsPerPage(viewby)">
                                                            <em class="fa fa-search"></em>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- Added card Display -->
                                        <div class="cardGridList">
                                            <div class='md-padding' layout="row" layout-wrap="">
                                                <md-card flex-sm="25" flex-gt-sm="30" flex="100"
                                                    layout-align="center center"
                                                    ng-repeat="val in searchResult.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                    <h5><strong>{{val}}</strong></h5>
                                                    <div class="md-actions" layout="row">
                                                        <div class="buttColor">
                                                            <a ng-href="#showIdentity">
                                                            <button
                                                                    style="background: transparent"
                                                                    ng-click="setCurrentSelection(val)"
                                                                    class="btn fa-lg btn-center">
                                                                    <em title="View Attributes" class="fa fa-code"
                                                                        style="color: rgb(0, 15, 100)"></em>
                                                                </button>
                                                            </a>
                                                            <a ng-href="#editIdentity">
                                                                <button style="background: transparent"
                                                                    ng-click="setCurrentSelection(val)"
                                                                    class="btn fa-lg btn-center">
                                                                    <em title="Edit Identity" class="fa fa-edit"
                                                                        style="color: darkgreen"></em>
                                                                </button>
                                                            </a>
                                                            <a ng-href="#refreshIdentity">
                                                                <button style="background: transparent"
                                                                        ng-click="setCurrentSelection(val)"
                                                                        class="btn fa-lg btn-center">
                                                                    <em title="Refresh Identity" class="fa fa-refresh"
                                                                        style="color: yellow"></em>
                                                                </button>
                                                            </a>
                                                            <a ng-href="#singleActAggrt">
                                                                <button style="background: transparent"
                                                                        ng-click="setIdentityApps(val)"
                                                                        class="btn fa-lg btn-center">
                                                                    <em title="Single Account Aggregation" class="fa fa-bars"
                                                                        style="color: darkcyan"></em>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </md-card>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="paginationRow" ng-size="10">
                                        <div style="left: 50px; position: absolute;">
                                            <ul><select ng-model="viewby" ng-change="setItemsPerPage(viewby)"
                                                    ng-init="viewby=pageSizeList[0]"
                                                    ng-options="pageSize for pageSize in pageSizeList"></select></ul>
                                        </div>
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage"
                                            ng-change="pageChanged()" class="pagination-sm" items-per-page="10"
                                            max-size="10"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>