<!DOCTYPE html>
<div id="editView">
    <div class="classic-body" ng-controller="singleActAggrtCtrl" ng-init="getAttrbName()">
        <div>
            <table id="mainEditTable" style="width:100%;cellpadding:0;cellspacing:0">
                <tbody>
                <tr valign="top">
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td class="mainEditBodyHeader">
                        <div id="mainEditBodyHeaderTitle">
                            <h3>Showing Links for Identity:{{passedName}}</h3>
                        </div>
                    </td>
                    <td style="width:20px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="refreshResults">
                <tr>
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:20px">&nbsp;</td>
                    <td>Select the links you want to Aggregate</td>
                </tr>
                <tr ng-repeat="(key, value) in idApps">
                    <td style="width:5px">&nbsp;</td>
                    <td style="width:30px">&nbsp;</td>
                    <td> {{ key }}</td>
                    <td style="width:30px">&nbsp;</td>
                    <td style="width:5px">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>
